# Directories to ignore
data/*
results/*
models/*
videos/*


!data/.gitkeep
!results/.gitkeep
!videos/.gitkeep
!models/botsort.yaml
!models/botsort_reid.yaml


# You can also add specific file types or log files you want to ignore
# For example:
*.log
*.DS_Store