# Directories to ignore
data/*
results/*
models/*
videos/*


!data/.gitkeep
!results/.gitkeep
!videos/.gitkeep
!models/botsort.yaml
!models/botsort_reid.yaml

# Ignore the README so it can be managed only on GitHub's web interface
README.md

# type not to manage
*.pt
*.md
*.txt
*.pdf
*.mp4
*.jpg

# You can also add specific file types or log files you want to ignore
# For example:
*.log
*.DS_Store